@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
}

body {
	margin: 0;
    font-family: Arial, sans-serif;
    background: url('../images/bglogin.jpg') no-repeat center center fixed;
    background-size: cover;
	/* background: linear-gradient(90deg,  #2e7eed, #34495E); */
}

.login__logo {
    display: block;
    margin: 10px auto 20px auto; /* kurangi margin atas */
    width: 100px; /* ukuran tetap */
    height: auto;
}

.container {
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.screen {
	background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	/* background: linear-gradient(90deg, #2e7eed, #3B5998);
	position: relative;
	height: 600px;
	width: 360px;
	box-shadow: 0px 0px 24px #1A242F; */
}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
	padding-top: 0px; /* atur padding atas */
}

.screen__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #BDC3C7;
	top: -50px;
	right: 120px;
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #566573;
	top: -172px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #34495E, #2e7eed);
	top: -24px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #4A6075;
	top: 420px;
	right: 50px;
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 10px;
	margin: 0;
}


.login h2 {
    margin: 0; /* hilangkan margin bawaan heading */
    padding: 10px 0; /* atur padding untuk jarak bawah */
    text-align: center; /* tetap center */
}

.login__field {
	padding: 20px 0px;
	position: relative;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #99A3A4;
}

.login__input {
	border: none;
	border-bottom: 2px solid #5D6D7E;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #3B5998;
}

.login__submit {
	background: #BDC3C7;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #99A3A4;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #1A242F;
	box-shadow: 0px 2px 2px #2e7eed;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #34495E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #99A3A4;
}

.social-login {
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #BDC3C7;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #BDC3C7;
	text-decoration: none;
	text-shadow: 0px 0px 8px #5D6D7E;
}

.social-login__icon:hover {
	transform: scale(1.5);
}

.login__field {
	position: relative;
}

.eye-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.eye-icon i {
	font-size: 18px;
}